body{
    margin: 0;
    padding: 0;
}
.wrapper{
   
    width: 100%;
    margin: auto;    
}
header{
    width: 100%;
    position: fixed;
    background: #333;
    top: 0;
}
nav{
    display: flex;
}
ul {    
    list-style: none;
}
li {
    display: inline-block;
}
a{
    color: #fff;
    text-decoration: none;   
    display: inline-block;
    padding: 5px 5px;
}
.logo{
    float: left;
    position: relative;
}
.menu{    
    position: relative;
}
main{
    margin: auto;    
    width: 100%;
    margin-top: 60px;   
}
.image-section img {
    max-width: 100%;   
    min-width: 100%;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
h2 {
    font-size: 22px;
    color: #777;
}
.image-section h1, h2{
    text-align: center;
}

.article-section {
    display: flex;
}
.article-section > article {
    flex: 1;
}
article{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 5px 5px;  
}
.article-section img  {
    height: 100%;
    width:100%;
}
.primary-flex {
    display: flex;
    flex-direction: row;
}
.primary-flex > div {
    padding: 5px;
}


@media all and (max-width: 560px) {
    header {
        width: 100%;
    } 
    main {
        width: 100%;
    }   
    nav, .article-section, .primary-flex {        
        align-items: center;
        display: flex;
        flex-direction: column;
    }
        li {
            display: list-item;
        }
        main{
            margin-top: 272px;
        }

        .primary-flex img  {
            height: 100%;
            width:100%;
        }
       
}
@media all and (max-width: 350px) {
    header {
        width: 100%;
    }
}
footer{
    background: #a7a7a7;
}

.social img {
    width: 30px;  
    height: 30px;  
}

.primary section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}